extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
        h1 #{text.project_name}
        p #{text.description}      
      .project-tech-links-box.box
        h6 Technologies
          ul
            each item in technologies
              li= item
        a.btn-link(href=`${text.live_link}`) Live Demo
        a.btn-link(href=`${text.github_link}`) GitHub Repo
    .project-img-box.box
      img.project-img(src=`${text.image_urls}[0]`, alt='Project Image')
      img.project-img(src=`${text.image_urls}[1]`, alt='Project Image')
      img.project-img(src=`${text.image_urls}[2]`, alt='Project Image')

    nav.nav
      a(href='/')
        span &larr;
        |  Back

